@model IEnumerable<FirsrtWebAplication.Models.Contract>


@*@Html.AntiForgeryToken()
@if (Session["FullName"].ToString() == "Nimrod Wandam")
{
    ViewBag.Title = "SeeUser";
    Layout = "~/Views/Shared/ccc.cshtml";
}
else
{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @using (Html.BeginForm("Index", "Contract", FormMethod.Get))
    {
        <p>
            FirstName : @Html.TextBox("Search") <br />
            <input type="submit" value="Search" />
        </p>

    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Renterid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hiredid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Propertyid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Startdatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enddatetime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Renterid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hiredid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propertyid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enddatetime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Contractid }) |
                @Html.ActionLink("Details", "Details", new { id = item.Contractid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Contractid })
            </td>
        </tr>
    }

</table>
